streamlit
opencv-python-headless==4.10.0.84
matplotlib==3.5.3
tensorflow-gpu==2.9.0
numpy==1.26.4
torch==2.1.2
torchvision==0.16.2
ultralytics==8.3.151
joblib
pydicom
scikit-learn==0.24.2
xgboost==1.6.2
